#about {
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    color: $color-main-light;
    padding: 5% 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .about__description div {
            margin-bottom: 10px;
            line-height: 1.5;
            text-align: center;
        }
    
        .about__text {
            width: 55%;

            .about__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                line-height: 1.5;
                div {
                    margin-right: 10px;
                }
            }
        }
    }  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #about {
        clip-path: none;
        -webkit-clip-path: none;
        .container {
            .about__text {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #about {
        clip-path: none;
        -webkit-clip-path: none;

        .container {
            .about__text {
                width: 90%;
                margin-top: 20px;
            }
        }
    }
}