// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

// Sections
@import './variables.scss';
@import './theme-toggler.scss';
@import './language-selection.scss';
@import './header.scss';
@import './about.scss';
@import './projects.scss';
@import './contact.scss';
@import './footer.scss';
@import './shared.scss';

// Light & Dark theme classes
.light {
    background-color: $background-default-light;
    color: $color-default-light;
    transition: .5s ease-in-out;

    #language-selection {
        button {
            color: $color-default-light;
    
            &:focus {
                color: $color-primary-light;
            }
        }
    }

    #header {
        .header--socials__container {
            .social--icons a {
                color: $color-default-light;
            }
        }
    }

    #about {
        background: $background-main-light;
        color: $color-main-light;
    }

    #contact {
        background: $background-main-light;
        color: $color-main-light;
    }
}

.dark {
    background-color: $color-main-dark;
    color: $color-default-dark;
    transition: .5s ease-in-out;

    #language-selection {
        button {
            color: $color-default-dark;

            &:focus {
                color: $color-primary-light;
            }
        }   
    }

    #header {
        .header--socials__container {
            .social--icons a {
                color: $color-default-dark;
            }
        }
    }

    #about {
        background: $background-main-dark;
        color: $color-default-dark;

        path {
            fill: $color-default-dark !important;
        }
    }

    #contact {
        background: $background-main-dark;
        color: $color-default-dark;

        .btn--secondary {   
            a {
                border-image: none;
                -o-border-image: none;
                border-color: $color-default-dark;
                color: $color-default-dark;
        
                &::after{
                    background-image: none;
                    background-color: $color-default-dark;
                }

                &:hover span{
                    background-image: $background-main-light;
                }
            }
        }
    }

    #footer {
        background-color: transparent;
    
        .goto--top {
            color: $color-default-dark;
        }
    
        .social--icons {
            a {
                color: $color-default-dark;
            }
        }
    }
}