// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

// Variables
$color-white: #FFFFFF;
$color-white-shade: #f5f5f5;
$color-default: #272341;
$color-primary: #02aab0;
$color-secondary: #00cdac;
$background-default: linear-gradient(135deg, $color-white, $color-white-shade);
$background-main: linear-gradient(135deg, $color-primary, $color-secondary);

// Sections
@import './header.scss';
@import './about.scss';
@import './projects.scss';
@import './contact.scss';
@import './footer.scss';
@import './shared.scss';
