#language-selection {
    position: absolute;
    top: 15px;
    right: 10%;
    
    button {
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}