#projects {
    padding: 5% 0;

    .project__container:nth-child(1), .project__container:nth-child(3) {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 991px) {
    #projects {
        .project__container:nth-child(1), .project__container:nth-child(3) {
            flex-direction: column;
        }
    }
}