body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

// Container
.container {
    width: 1080px;
    margin: 0 auto;
    padding: 5% 0;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

// Buttons text
.text__color__main {
    background-image: $background-main-light;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Social icons
.social__icons{
    display: flex;

    a {
        margin: 20px;

        svg {
            width: 36px;
            height: 36px;
        }
        
        &:hover div {
            margin-top: -5px;
            transition: all .2s ease-in;
        }
    }
}

@media screen and (max-width: 767px) {
    .social__icons {
        a {
            &:hover div, &:focus div {
                margin-top: 0px;
            }
        }
    }
}