// Variables

// Light theme
$color-main-light: #FFFFFF;
$color-default-light: #272341;
$color-primary-light: #02aab0;
$color-secondary-light: #00cdac;
$background-default-light:linear-gradient(135deg, $color-main-light, $color-main-light);
$background-main-light: linear-gradient(135deg, $color-primary-light, $color-secondary-light);

// Dark theme
$color-main-dark: #0d1117;
$color-default-dark: #666a70;
$color-primary-dark: #101a29;
$color-secondary-dark: #161b22;
$background-main-dark: linear-gradient(135deg, $color-primary-dark, $color-secondary-dark);